.headerdiv{
    display: inline-block;
    object-position: top;
    border: 2px dotted;
    width: calc(100vw - 15px);
}
.nametab{
    position: absolute;
    top: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
