.headerdiv{
    display: inline-block;
    object-position: top;
    border: 2px dotted;
    width: calc(100vw - 15px);
}
.nametab{
    position: absolute;
    top: 50px;
    left: 370px;
}
.githubtab{
    position: absolute;
    top: 50px;
    left: 270px;
}
.projectstab{
    position: absolute;
    top: 50px;
}
.headerdiv a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
body {
    overflow-x: hidden;
}
